.dropdownButton {
  gap: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: 4rem;
  width: 23rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
  color: #f3f4f7;
}

.dropdownButton:hover {
  color: #ffffff !important;
  background-color: #333948;
}

.dropdownButton:hover .title {
  color: #ffffff;
  background-color: #333948;
}

.icon,
.iconArrow {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 0.5rem;
  margin-right: 1.5rem;
}

.title {
  color: #949cb3;
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.container {
  display: flex;
  align-items: center;
}
