.headerBar {
  position: sticky;
  top: 0;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111318;
  border-bottom: 1px solid #333948;
}
