.linkWithIcon:link,
.linkWithIcon:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f3f4f7;
  height: 4rem;

  border-radius: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.linkWithIcon:hover,
.linkWithIcon:active {
  color: #ffffff;
  background-color: #333948;
}

.icon {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  margin-right: 1.5rem;
}
